img
{
    width: 50%;

}

.content
{
   margin: auto;
   display: grid;
}

body
{
background: green url("green.jpeg") no-repeat;
     background-size: 200%;
     background-position: center center;
     background-attachment: fixed;
    text-align: center;
     font-family: Georgia, serif;
 font-size: 20px;
    color: black;
    font-style: italic;
    width: 100%;
}

h1
{
 font-style: normal;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 90px;
    color: black;
    background: white;

}

.metadata
{
    margin: 5%;
    padding: 2%;
    background: white;


}