{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/artcollection/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Art!</title>
</head>
<body>
    <div id="bglayer">    </div>
    <div id="bglayer2">    </div>
        <div id="upload-form">
            <div class="whitebg"><h1>Image </br> Upload</h1></div>

        <form id ="upload-form-data" method="post" enctype="multipart/form-data">
            <div class="whitebg">{% csrf_token %}</div>
            <div class="whitebg">{{ form.as_p }}</div>
            <div class="whitebg"><button class="button" type="submit">Submit</button></div>
        </form>
        {% if instance %}
            <img src="{{ instance.image_field.url }}">
        {% endif %}
    </div>
</body>
</html>