{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/gallery/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find some local street art</title>
</head>
    <h1>Find some </br> local street art</h1>
<body>
    <a href="http://127.0.0.1:8000/django-form-upload-art">Upload Art!</a>
    <a href="http://127.0.0.1:8000/map">Map!</a>
    {% for img in mylist %}
    <div class="content">
          <div>
              <img src="../media/images/{{ img.0 }}">
          </div>
        <div class="metadata">{{img.1}}</div>
      {% endfor%}
    </div>
</body>
</html>