{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/gallery/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find some local street art</title>
</head>
<body>
    <h1>Find some </br> local street art</h1>
    <div style="width:80%" class="content">
      {% for img in imgs %}
          <div style="float:left; width:500px; height:500px;">
              <img src="../media/images/{{ img }}">
          </div>
      {% endfor%}
    </div>
</body>
</html>